/*own styles and classes*/

.select2-selection.has-error {
    border-color:red !important;
    color:red !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: #00c0ef;
	border: 1px solid #FFF;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #FFF;
}
.label-flat {
	border-radius: 0;
}
.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-top {
	padding-top: 0;
}
.no-padding-bottom {
	padding-bottom: 0;
}
.block {
	display: block;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-top-15 {
	padding-top: 15px;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.padding-top-20 {
	padding-top: 20px;
}
.padding-bottom-20 {
	padding-bottom: 20px;
}
.alert, .progress-bar {
	border-radius: 0;
}
.progress-temp {
	height: 2px;
}